body {
   padding-top: 60px;
   padding-left: 0px;
   padding-right: 0px;
   background: url(../images/background.jpg) no-repeat;
   background-size: cover;

}    
#navbarcontainer{
   padding-left: 0px; 
   padding-right: 0px;"
} 
.navbar .navbar-inner {
    padding: 0;
}
.navbar .nav {
    margin: 0;
    display: table;
}
.panel{
   border: 2px blue;
}
.panel {
	color: green; 
	background-color: #1F1C22; 
}
#topfixedbar,#bottombar{
	background-color: #003366 ;  
}

 #footer{
	background-color: #9999FF ;  
}
.navbar-text >p{
	color: white;
} 

thead {
	background: light-blue; 
	color:white;
}
table, th, td 
{
    border: 1px solid white;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* https:miketricking.github.io dist*/
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}